* {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}

div {
	display: block;
}

.logo {
	float: left;
}

.logo a {
	top-margin: 0.5em;
	margin: 10px;
	padding-right: 10px;
}

.logo img {
	height: 70px;
	width: 40px;
	background: transparent;
}

.menu {
	float: right;
	margin: 10px;
}

.menu ul {
	list-style-type: none;	
	margin: 1em;
    padding: 0px;
    text-align: right;
}

.menu ul li {
	text-decoration: none;
	display: inline;
	padding: 40px;
}

.menu ul li a {
	color: black;
	text-decoration: none;
	background: transparent;
}

.menu ul li a:hover {
	color: black;
	text-decoration: underline;
}

.background {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
    overflow: hidden;
	background-image: url("images/fremont.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: 50%;
    background-repeat: no-repeat;
}

.layer {
    background-color: rgba(0,0,0,.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.title {
	position: absolute;
	color: white;
	font-weight: bold;
	font-size: 625%;
	text-align: center;
	text-align: left;
	margin-left: 50px;
}

.title h1 {
	padding-top: 70px;
	padding-left: 100px;
}

.title h6 {
	padding-top: 0px;
	padding-left: 100px;
}

.description {
	display: block;
	text-align: center;
	text-align: justify;
	margin-left: 600px;
	margin-right: 600px;
	margin-top: 20px;
	margin-bottom: 20px;
}